.row-skeleton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 30px 20px;
  border-left: 1px solid #eff2f6;
  border-bottom: 1px solid #eff2f6;
  border-right: 1px solid #eff2f6;

  .img-skeleton,
  .h2-name-skeleton,
  .p-name-skeleton,
  .p-brand-skeleton,
  .p-categoria-skeleton,
  .h2-last-edited-skeleton,
  .p-last-edited-skeleton,
  .h2-item-id-skeleton,
  .p-item-id-skeleton,
  .checkbox-skeleton {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(
      to right,
      rgb(231, 231, 231) 8%,
      #f0f0f0 18%,
      rgb(231, 231, 231) 33%
    );
    background-size: 800px 104px;
  }
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }

  //Img row

  .img-container {
    flex: 0.75;
  }

  .img-skeleton {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
  }

  //Id row
  .item-id-skeleton {
    flex: 0.5;
  }

  .h2-item-id-skeleton {
    min-width: 20px;
    min-height: 15px;

    width: 20px;
  }

  .p-item-id-skeleton {
    min-width: 30px;
    min-height: 15px;
    width: 30px;
    margin-top: 10px;
  }

  //Name row

  .name-skeleton {
    flex: 2.2;
  }

  .h2-name-skeleton {
    min-width: 90px;
    min-height: 20px;
    width: 200px;
  }

  .p-name-skeleton {
    min-width: 50px;
    min-height: 15px;
    margin-top: 10px;
    width: 100px;
  }

  //Brand row
  .brand-skeleton,
  .categoria-skeleton {
    flex: 1.2;
  }

  .p-brand-skeleton {
    min-width: 90px;
    min-height: 15px;
    width: 90px;
  }

  //Category row
  .p-categoria-skeleton {
    min-width: 80px;
    min-height: 15px;

    width: 80px;
  }

  //Last edited row
  .last-edited-skeleton {
    flex: 2;
  }

  .h2-last-edited-skeleton {
    min-width: 100px;
    min-height: 20px;
    margin-top: 10px;
    width: 110px;
  }

  .p-last-edited-skeleton {
    min-width: 150px;
    min-height: 15px;

    width: 150px;
    margin-top: 5px;
  }

  //Checkbox row

  .checkbox-skeleton {
    min-width: 106.7px;
    min-height: 32px;
    width: 100px;
    border-radius: 20px;
  }

  //Spinner row
  .spinner-skeleton {
    color: #86919d;
    flex: 1 1 0px;
  }
}

// //Mobile styles
// @media screen and (max-width: 768px) {
//   .last-edited {
//     display: none;
//   }
//   .categoria {
//     display: none;
//   }
// }
