.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 30px 20px;
  border-left: 1px solid #eff2f6;
  border-bottom: 1px solid #eff2f6;
  border-right: 1px solid #eff2f6;
  &:hover {
    background-color: #f8f9fa;
  }

  img {
    width: 50px;
    height: 50px;
  }

  h2 {
    color: #0c1322;
    font-weight: 600;
    font-size: 1rem;
  }

  .name {
    flex: 2.2;

    p {
      color: #86919d;
      margin-top: 5px;
    }
  }

  .last-edited {
    flex: 2;

    p {
      color: #86919d;
      margin-top: 5px;
    }
  }

  .item-id {
    flex: 0.5;
    p {
      color: #86919d;
      margin-top: 5px;
    }
  }

  .img-container {
    flex: 0.75;
  }

  .brand,
  .categoria {
    flex: 1.2;
  }

  .img-container {
    display: flex;
  }

  .status-container {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 7px;
    font-size: 13px;
  }
  .status-on {
    background-color: #c7f5dd;
    color: #428f67;
    font-weight: 600;
  }
  .status-off {
    background-color: #fedfdf;
    color: #e84343;
    font-weight: 600;
  }
}

.star {
  color: var(--primary-color);
  flex: 0.8;
}

.star-off {
  color: #86919d;
  flex: 0.8;
}

//Mobile styles
@media screen and (max-width: 768px) {
  .last-edited {
    display: none;
  }
  .categoria {
    display: none;
  }
}
