.row-skeleton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 30px 20px;
  border-left: 1px solid #eff2f6;
  border-bottom: 1px solid #eff2f6;
  border-right: 1px solid #eff2f6;

  .img-container {
    flex: 0.75;
  }

  .img-skeleton {
    min-width: 50px;
    min-height: 50px;
    background-color: rgb(221, 221, 221);
    width: 50px;
  }

  .h2-name-skeleton {
    min-width: 90px;
    min-height: 20px;
    background-color: rgb(221, 221, 221);
    width: 200px;
  }

  .p-name-skeleton {
    min-width: 50px;
    min-height: 15px;
    background-color: rgb(221, 221, 221);
    width: 100px;
  }

  .item-id-skeleton {
    flex: 0.5;
    p {
      color: #acb4bc;
      margin-top: 10px;
    }
  }

  .name-skeleton,
  .last-edited-skeleton {
    flex: 2;

    p {
      color: #acb4bc;
      margin-top: 10px;
    }
  }

  .brand-skeleton,
  .categoria-skeleton {
    flex: 1;
  }

  .p-brand-skeleton {
    min-width: 90px;
    min-height: 15px;
    background-color: rgb(221, 221, 221);
    width: 90px;
  }

  .p-categoria-skeleton {
    min-width: 80px;
    min-height: 15px;
    background-color: rgb(221, 221, 221);
    width: 80px;
  }

  .h2-last-edited-skeleton {
    min-width: 100px;
    min-height: 20px;
    background-color: rgb(221, 221, 221);
    width: 110px;
  }

  .p-last-edited-skeleton {
    min-width: 150px;
    min-height: 15px;
    background-color: rgb(221, 221, 221);
    width: 150px;
    margin-top: 5px;
  }

  .h2-item-id-skeleton {
    min-width: 20px;
    min-height: 15px;
    background-color: rgb(221, 221, 221);
    width: 20px;
  }

  .p-item-id-skeleton {
    min-width: 30px;
    min-height: 15px;
    background-color: rgb(221, 221, 221);
    width: 30px;
  }

  .checkbox-skeleton {
    min-width: 40px;
    min-height: 22px;
    background-color: rgb(221, 221, 221);
    width: 40px;
    border-radius: 20px;
  }

  .star-skeleton {
    color: #acb4bc;
    flex: 1 1 0px;
  }
}

// //Mobile styles
// @media screen and (max-width: 768px) {
//   .last-edited {
//     display: none;
//   }
//   .categoria {
//     display: none;
//   }
// }
