.sort-bar {
  flex: 1 1;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 20vh;
  padding: 30px 0px;
  border-top: 1px solid #e1e4e8;

  P {
    color: #acb4bc;
  }

  .sort {
    color: #0c1322;
    margin-left: 10px;
  }
}
