.Button-primary {
  button {
    background-color: $primary-color;
    width: auto;
    max-width: 200px;
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    border: 2px solid $primary-color;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #00d768;
      -webkit-box-shadow: -4px 11px 15px -5px rgba(0, 215, 104, 0.31);
      box-shadow: -4px 11px 15px -5px rgba(0, 215, 104, 0.31);
      border: 2px solid #00d768;
    }
    &:focus {
      border: 2px solid #006d29;
      outline: none;
    }
    &:active {
      background-color: #00d768;
      outline: none;
    }
  }
}
