.Button-primary {
  button {
    background-color: var(--primary-color);
    width: auto;
    max-width: 200px;
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
