.row-noresults {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 60px 20px;
  border-left: 1px solid #eff2f6;
  border-bottom: 1px solid #eff2f6;
  border-right: 1px solid #eff2f6;

  img {
    width: 30%;
  }

  h2 {
    color: rgb(95, 95, 95);
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 20px;
  }

  p {
    font-weight: 600;
    font-size: 0.9rem;
    color: $grey-font;
    margin-top: 15px;
    text-align: center;
  }

  button {
    background-color: $primary-color;
    width: 142px;
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    border: 1px solid $primary-color;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 25px;
  }
}

//Mobile styles
@media screen and (max-width: 768px) {
  .row-noresults {
    h2 {
      font-size: 1.2rem;
      display: flex;
    }
  }
}
