.update-product-container {
  width: 90%;
  flex: 1 1;
  display: flex;
  align-items: flex-start;
  transform: translateY(20px);
  height: 30vh; // Temporal
  min-height: 30vh; // Temporal
}

.fadein {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.3s, opacity 0.3s;
  -moz-transition: visibility 0.3s, opacity 0.3s;
  -ms-transition: visibility 0.3s, opacity 0.3s;
  -o-transition: visibility 0.3s, opacity 0.3s;
  transition: visibility 0.3s, opacity 0.3s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s, opacity 0.3s;
  -moz-transition: visibility 0.3s, opacity 0.3s;
  -ms-transition: visibility 0.3s, opacity 0.3s;
  -o-transition: visibility 0.3s, opacity 0.3s;
  transition: visibility 0.3s, opacity 0.3s;
}

.fadein {
  transition: 0.3s;
  transform: translateY(0px);
}

.update-product-side-menu {
  flex: 0.5;
  padding: 20px 0 20px 0;
  h1 {
    color: $primary-color;
    font-weight: 600;
    font-size: 1rem;
  }
  p {
    color: #86919d;
    margin-bottom: 17px;
    font-size: 0.8rem;
  }
}

.update-product-main-content {
  background-color: white;
  flex: 2;
  padding: 20px 0 20px 0;

  h1 {
    color: $dark-font;
    font-weight: 600;
    font-size: 1.625rem;
  }

  p {
    color: $grey-font;
  }

  span {
    color: $primary-color;
  }
}

//Mobile styles
@media screen and (max-width: 768px) {
  .update-product-side-menu {
    display: none;
  }
}
