.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 850px;
  min-width: 850x;
  border-radius: 10px;

  //Animation
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;

  h1 {
    color: #0c1322;
    font-weight: 600;
    font-size: 1.625rem;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid $primary-color;
  }
}

.modal-img {
  flex: 1;
  background-color: rgb(59, 56, 56);
  border-radius: 10px 0 0 10px;
  height: auto;

  img {
    max-width: 100%;
    border-radius: 10px 0 0 10px;
    min-height: 100%;
  }
}

.modal-content {
  flex: 1;
  margin: 25px 35px 0 35px;
  height: auto;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}
