.profile {
  flex: 1;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 32px;
    width: 32px;
    border-radius: 50%;

    border: 2px solid white;
  }

  .bell-icon {
    color: #acb4bc;
    margin: 0 10px 5px auto;
  }

  p {
    color: var(--primary-color);
  }
}
