.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12vh;
  // min-height: 100%;
  justify-content: center;
  max-width: 80rem;
  margin: 0 auto;

  input {
    width: 98%;
    margin-right: 20px;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    outline: none;
    padding: 14px;
    font-size: 0.9rem;
    color: #133e35;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    &::placeholder {
      color: #acb4bc;
    }
  }

  .icon-faEllipsis {
    color: #acb4bc;
  }
}

.search-bar {
  flex: 1 1;
  width: 90%;
  display: flex;
  align-items: center;
}
