.search-bar {
  height: 12vh;
  position: relative;

  span {
    position: absolute;
    left: 14px;
  }

  input {
    width: 98%;
    margin-right: 20px;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    outline: none;
    padding: 14px 14px 14px 48px;
    font-size: 0.9rem;
    color: #133e35;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }

  input::placeholder {
    color: $grey-font;
  }

  .icon-faEllipsis {
    color: #d8d6d6;
    margin-right: 8px;
  }

  .icon-search {
    color: $primary-color;
  }
}

.search-bar {
  flex: 1 1;
  width: 90%;
  display: flex;
  align-items: center;
}
