.input-container {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1rem;
    color: #86919d;
  }

  input,
  select {
    width: 100%;
    margin: 8px 0 15px 0;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    color: #133e35;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  margin: 8px 0 15px 0;
  padding-bottom: 15px;
  margin-bottom: 25px;
  position: relative;
  border-bottom: 1px solid #00c85a;

  label {
    margin-right: auto;
    color: #86919d;
  }

  .checkbox-box {
    display: flex;
  }
}

.button-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;
}
