.menubar {
  width: 90%;
  flex: 1;
  align-items: flex-end;
  display: flex;

  nav {
    display: flex;
  }

  nav a:first-child {
    border-bottom: 2px solid var(--primary-color);
  }
  nav a:nth-child(2) {
    padding-left: 30px;
  }

  nav a {
    color: #acb4bc;
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: 600;
  }

  .active {
    color: #0c1322;
  }
}
