@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// Components styles header
@import './components/header/Header';
@import './components/Menubar/Menubar';
@import './components/header/Title/Title';
@import './components/header/Profile/Profile';

// Components styles Catalogue
@import './components/Searchbar/Searchbar';
@import './components/Catalogue/Table';
@import './components/Catalogue/TableRow';
@import './components/Catalogue/TableRownoresults';
@import './components/Catalogue/TableRowSkeleton';
@import './components/Catalogue/SortByBar';

// UI Components
@import './components/button/Button';
 //General styles
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00c85a;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #133e35;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80rem;
  margin: 0 auto;
}
