//Color Variables
$grey-font: #9fa8b2;
$dark-font: #0c1322;
$primary-color: #00c85a;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// Components styles header
@import './components/header/Header';
@import './components/Menubar/Menubar';
@import './components/header/Title/Title';
@import './components/header/Profile/Profile';
@import './components/NewProductBar/NewProdcutBar';
@import './components/UpdateProduct/Form';

// Components styles Catalogue
@import './components/Searchbar/Searchbar';
@import './components/ProductsCatalogue/Table';
@import './components/ProductsCatalogue/TableRow';
@import './components/ProductsCatalogue/TableRownoresults';
@import './components/ProductsCatalogue/TableRowSkeleton';
@import './components/Modal/Modal';

// Pages styles
@import './pages/UpdateProduct';
@import './components/AddNewProduct/AddNewProduct';

// UI Components
//Buttons
@import './components/buttons/Button';

//Forms
@import './components/forms/Checkbox';

//General styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $dark-font;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
