//Color Variables
$grey-font: #9fa8b2;
$h1-font-color: #0c1322;
$primary-color: #00c85a;
$headers-color: #eff2f6;
$red-font: #e84343;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// Components styles header
@import './components/Header/Header';
@import './components/ProductsNavBar/ProductsNavBar';
@import './components/Header/Title/Title';
@import './components/Header/Profile/Profile';
@import './components/BreadcrumbsBar/BreadcrumbsBar';
@import './pages/UpdateProduct/Form/Form';

// Components styles Catalogue
@import './components/Searchbar/Searchbar';
@import './components/Table/Table';
@import './components/Table/TableRow/TableRow';
@import './components/Table/NoResultsScreen/NoResultsScreen';
@import './components/Table/SkeletonRows/SkeletonRows';
@import './components/Modal/Modal';

// Pages styles
@import './pages/UpdateProduct/UpdateProduct';
@import './components/AddNewProduct/AddNewProduct';

// UI Components
//Layout
@import './components/Layout/Layout'; //Buttons
@import './components/Forms/Button/Button';

//Forms
@import './components/Forms/Checkbox/Checkbox';
