@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
.header {
  height: 22.5vh;
  background-color: #eff2f6;
  width: 100%;
}

.menubar {
  width: 90%;
  flex: 1;
  display: flex;
  align-items: flex-end;
}
.menubar nav {
  display: flex;
  justify-content: left;
  width: 50%;
}
.menubar nav p {
  color: #9fa8b2;
  text-decoration: none;
  padding: 0 0 10px 0px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 30px;
}
.menubar nav p:hover {
  border-bottom: 2px solid #9fa8b2;
}
.menubar nav p:first-child {
  margin-left: 0px;
}
.menubar .isActive {
  border-bottom: 2px solid #00c85a;
  color: #0c1322;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
  cursor: default;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .menubar {
    display: none;
  }
}
.title-container {
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1;
}
.title-container h1 {
  font-size: 36px;
  font-weight: 600;
}

.title-status {
  display: flex;
  align-items: center;
}
.title-status p {
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 20px;
  padding: 7px;
  font-size: 13px;
  -webkit-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}
.title-status .active {
  background-color: #c7f5dd;
  color: #428f67;
}
.title-status .inactive {
  background-color: #fedfdf;
  color: #e84343;
}
.title-status .arrow {
  color: #00c85a;
  font-weight: 400;
  width: 25px;
  height: 25px;
  margin: 5px 15px 0 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .title-container {
    align-items: flex-start;
    justify-content: space-between;
  }
  .title-container h1 {
    font-size: 25px;
  }

  .active {
    display: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}
.profile {
  flex: 1;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid white;
}
.profile .bell-icon {
  color: #9fa8b2;
  margin: 0 10px 0 auto;
}
.profile .logo {
  color: #00c85a;
  font-weight: 700;
}

.sort-bar {
  flex: 1 1;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-top: 1px solid #e1e4e8;
}
.sort-bar p {
  margin-right: auto;
}

.Toastify__toast--success {
  background-color: #00c85a;
}

.update-product-form {
  margin-top: 40px;
}
.update-product-form input,
.update-product-form select {
  width: 100%;
  margin: 8px 0 20px 0;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  font-size: 1rem;
  color: #133e35;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.update-product-form label {
  font-size: 1rem;
  color: #86919d;
}
.update-product-form .first-row {
  display: flex;
}
.update-product-form .first-row .id-holder {
  flex: 0.2;
  margin: 0 30px 0 0;
  pointer-events: none;
}
.update-product-form .first-row .id-holder input {
  background-color: #eeeeee;
  color: #9fa8b2;
}
.update-product-form .first-row .name-holder {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.update-product-form .second-row {
  display: flex;
}
.update-product-form .second-row .brand-holder {
  flex: 2;
  margin: 0 30px 0 0;
}
.update-product-form .second-row .type-holder {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 30px 0 0;
}
.update-product-form .second-row .status-holder {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .second-row {
    flex-direction: column;
  }
  .second-row .brand-holder,
.second-row .type-holder {
    margin-right: 0 !important;
  }
}
.search-bar {
  height: 12vh;
  position: relative;
}
.search-bar span {
  position: absolute;
  left: 14px;
}
.search-bar input {
  width: 98%;
  margin-right: 20px;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  outline: none;
  padding: 14px 14px 14px 48px;
  font-size: 0.9rem;
  color: #133e35;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.search-bar input::placeholder {
  color: #9fa8b2;
}
.search-bar .icon-faEllipsis {
  color: #d8d6d6;
  margin-right: 8px;
}
.search-bar .icon-search {
  color: #00c85a;
}

.search-bar {
  flex: 1 1;
  width: 90%;
  display: flex;
  align-items: center;
}

.table-catalogue {
  flex: 1 1;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 2px 30px 14px 14px rgba(234, 234, 234, 0.3);
  box-shadow: 2px 30px 14px 14px rgba(234, 234, 234, 0.3);
  margin-bottom: 40px;
}

.table-header {
  background-color: #eff2f6;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.table-header h2 {
  color: #0c1322;
  font-weight: 600;
  font-size: 1rem;
}
.table-header p {
  margin-left: 10px;
  color: #9fa8b2;
}
.table-header .sort {
  margin-left: 10px;
}
.table-header .faCog {
  margin-right: 10px;
  color: #00c85a;
}
.table-header .sort-order {
  margin-left: auto;
}
.table-header span:hover {
  color: #00c85a;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .table-header {
    background-color: #eff2f6;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
  .table-header h2 {
    color: #0c1322;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .table-header p {
    font-size: 1.2rem;
  }
  .table-header .sort-order {
    margin-left: 0;
    margin-top: 10px;
    font-size: 1.2rem;
  }
}
a {
  text-decoration: none;
}
a:link {
  color: #86919d;
}
a:visited {
  color: #86919d;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 25px 20px;
  border-left: 1px solid #eff2f6;
  border-bottom: 1px solid #eff2f6;
  border-right: 1px solid #eff2f6;
}
.row:hover {
  background-color: #f8f9fa;
}
.row:active {
  background-color: #e6e6ec;
}
.row img {
  width: 50px;
  height: 50px;
}
.row h2 {
  color: #0c1322;
  font-weight: 600;
  font-size: 1rem;
}
.row .name {
  flex: 2.2;
}
.row .name p {
  color: #9fa8b2;
  margin-top: 5px;
}
.row .last-edited {
  flex: 2;
}
.row .last-edited p {
  color: #9fa8b2;
  margin-top: 5px;
}
.row .item-id {
  flex: 0.5;
}
.row .item-id p {
  color: #9fa8b2;
  margin-top: 5px;
}
.row .img-container {
  flex: 0.75;
}
.row .brand,
.row .categoria {
  flex: 1.2;
}
.row .img-container {
  display: flex;
}
.row .status-container {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 7px;
  font-size: 13px;
}
.row .status-on {
  background-color: #c7f5dd;
  color: #428f67;
  font-weight: 600;
}
.row .status-off {
  background-color: #fedfdf;
  color: #e84343;
  font-weight: 600;
}

.star {
  color: #00c85a;
  flex: 0.8;
}

.star-off {
  color: #9fa8b2;
  flex: 0.8;
}

@media screen and (max-width: 768px) {
  .last-edited {
    display: none;
  }

  .categoria {
    display: none;
  }

  .brand {
    display: none;
  }

  .row {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .row .item-id {
    display: none;
  }
  .row .status-container {
    display: none;
  }
}
.row-noresults {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 60px 20px;
  border-left: 1px solid #eff2f6;
  border-bottom: 1px solid #eff2f6;
  border-right: 1px solid #eff2f6;
}
.row-noresults img {
  width: 30%;
}
.row-noresults h2 {
  color: #5f5f5f;
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: 20px;
}
.row-noresults p {
  font-weight: 600;
  font-size: 0.9rem;
  color: #9fa8b2;
  margin-top: 15px;
  text-align: center;
}
.row-noresults button {
  background-color: #00c85a;
  width: 142px;
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  border: 1px solid #00c85a;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .row-noresults h2 {
    font-size: 1.2rem;
    display: flex;
  }
}
.row-skeleton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 25px 20px;
  border-left: 1px solid #eff2f6;
  border-bottom: 1px solid #eff2f6;
  border-right: 1px solid #eff2f6;
}
.row-skeleton .img-skeleton,
.row-skeleton .h2-name-skeleton,
.row-skeleton .p-name-skeleton,
.row-skeleton .p-brand-skeleton,
.row-skeleton .p-categoria-skeleton,
.row-skeleton .h2-last-edited-skeleton,
.row-skeleton .p-last-edited-skeleton,
.row-skeleton .h2-item-id-skeleton,
.row-skeleton .p-item-id-skeleton,
.row-skeleton .checkbox-skeleton {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #e7e7e7 8%, #f0f0f0 18%, #e7e7e7 33%);
  background-size: 800px 104px;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.row-skeleton .img-container {
  flex: 0.75;
}
.row-skeleton .img-skeleton {
  min-width: 50px;
  min-height: 50px;
  width: 50px;
}
.row-skeleton .item-id-skeleton {
  flex: 0.5;
}
.row-skeleton .h2-item-id-skeleton {
  min-width: 20px;
  min-height: 15px;
  width: 20px;
}
.row-skeleton .p-item-id-skeleton {
  min-width: 30px;
  min-height: 15px;
  width: 30px;
  margin-top: 10px;
}
.row-skeleton .name-skeleton {
  flex: 2.2;
}
.row-skeleton .h2-name-skeleton {
  min-width: 90px;
  min-height: 20px;
  width: 200px;
}
.row-skeleton .p-name-skeleton {
  min-width: 50px;
  min-height: 15px;
  margin-top: 10px;
  width: 100px;
}
.row-skeleton .brand-skeleton,
.row-skeleton .categoria-skeleton {
  flex: 1.2;
}
.row-skeleton .p-brand-skeleton {
  min-width: 90px;
  min-height: 15px;
  width: 90px;
}
.row-skeleton .p-categoria-skeleton {
  min-width: 80px;
  min-height: 15px;
  width: 80px;
}
.row-skeleton .last-edited-skeleton {
  flex: 2;
}
.row-skeleton .h2-last-edited-skeleton {
  min-width: 100px;
  min-height: 20px;
  margin-top: 10px;
  width: 110px;
}
.row-skeleton .p-last-edited-skeleton {
  min-width: 150px;
  min-height: 15px;
  width: 150px;
  margin-top: 5px;
}
.row-skeleton .checkbox-skeleton {
  min-width: 106.7px;
  min-height: 32px;
  width: 100px;
  border-radius: 20px;
}
.row-skeleton .spinner-skeleton {
  color: #9fa8b2;
  flex: 1 1 0px;
}

@media screen and (max-width: 768px) {
  .row-skeleton .last-edited-skeleton {
    display: none;
  }
  .row-skeleton .item-id-skeleton {
    display: none;
  }
  .row-skeleton .brand-skeleton,
.row-skeleton .categoria-skeleton {
    display: none;
  }
  .row-skeleton .checkbox-skeleton {
    display: none;
  }
  .row-skeleton .h2-name-skeleton {
    min-width: 170px;
    min-height: 20px;
    width: 170px;
  }
}
.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 850px;
  max-width: 85%;
  border-radius: 10px;
  position: relative;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.modal-img {
  flex: 1;
  background-color: #3b3838;
  border-radius: 10px 0 0 10px;
  height: auto;
}
.modal-img img {
  max-width: 100%;
  border-radius: 10px 0 0 10px;
  min-height: 100%;
}

.modal-content {
  flex: 1;
  margin: 25px 35px 0 35px;
  height: auto;
}
.modal-content h1 {
  color: #0c1322;
  font-weight: 600;
  font-size: 1.625rem;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid #00c85a;
}

.modal-content-success,
.modal-content-error {
  flex: 1;
  margin: 25px 35px 25px 35px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content-success span {
  color: #00c85a;
}
.modal-content-success h1 {
  color: #0c1322;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 40px;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.modal-content-error span,
.modal-content-error p {
  color: #e84343;
}
.modal-content-error p {
  margin-bottom: 20px;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
.modal-content-error h1 {
  color: #0c1322;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 10px;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .modal-img {
    display: none;
  }

  .modal-content h1 {
    font-size: 1.475rem;
  }

  .modal-content-success h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.update-product-container {
  width: 90%;
  flex: 1 1;
  display: flex;
  align-items: flex-start;
  transform: translateY(20px);
  height: 30vh;
  min-height: 30vh;
}

.fadein {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.3s, opacity 0.3s;
  -moz-transition: visibility 0.3s, opacity 0.3s;
  -ms-transition: visibility 0.3s, opacity 0.3s;
  -o-transition: visibility 0.3s, opacity 0.3s;
  transition: visibility 0.3s, opacity 0.3s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s, opacity 0.3s;
  -moz-transition: visibility 0.3s, opacity 0.3s;
  -ms-transition: visibility 0.3s, opacity 0.3s;
  -o-transition: visibility 0.3s, opacity 0.3s;
  transition: visibility 0.3s, opacity 0.3s;
}

.fadein {
  transition: 0.3s;
  transform: translateY(0px);
}

.update-product-side-menu {
  flex: 0.5;
  padding: 20px 0 20px 0;
}
.update-product-side-menu h1 {
  color: #00c85a;
  font-weight: 600;
  font-size: 1rem;
}
.update-product-side-menu p {
  color: #86919d;
  margin-bottom: 17px;
  font-size: 0.8rem;
}

.update-product-main-content {
  background-color: white;
  flex: 2;
  padding: 20px 0 20px 0;
}
.update-product-main-content h1 {
  color: #0c1322;
  font-weight: 600;
  font-size: 1.625rem;
}
.update-product-main-content p {
  color: #9fa8b2;
}
.update-product-main-content span {
  color: #00c85a;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.disabled {
  background-color: #00c85a;
  border: 2px solid #00c85a;
  color: white;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.label-file {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  background-color: #00c85a;
  width: 100%;
  max-width: 200px;
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  border: 2px solid #00c85a;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.label-file:hover {
  background-color: #00d768;
  -webkit-box-shadow: -4px 11px 15px -5px rgba(0, 215, 104, 0.31);
  box-shadow: -4px 11px 15px -5px rgba(0, 215, 104, 0.31);
  border: 2px solid #00d768;
}

@media screen and (max-width: 768px) {
  .update-product-side-menu {
    display: none;
  }
}
.input-container {
  display: flex;
  flex-direction: column;
}
.input-container label {
  font-size: 1rem;
  color: #86919d;
}
.input-container .inputError {
  border: 1px solid #f0b6b6;
  -webkit-box-shadow: -1px -2px 13px -4px #fedfdf;
  box-shadow: -1px -2px 13px -4px #fedfdf;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #fcf0f0;
}
.input-container .inputOk {
  border: 1px solid #00c85a;
  -webkit-box-shadow: -1px -2px 13px -4px #e6fedf;
  box-shadow: -1px -2px 13px -4px #e6fedf;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-container input,
.input-container select {
  width: 100%;
  margin: 8px 0 15px 0;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  font-size: 1rem;
  color: #133e35;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.input-container .minimsg {
  font-size: 0.8rem;
  color: #e84343;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  margin: 8px 0 15px 0;
  padding-bottom: 15px;
  margin-bottom: 25px;
  position: relative;
}
.checkbox-container label {
  margin-right: auto;
  color: #86919d;
}
.checkbox-container .checkbox-box {
  display: flex;
}

.button-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.conffetti {
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #0c1322;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.Button-primary button {
  background-color: #00c85a;
  width: 100%;
  max-width: 200px;
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  border: 2px solid #00c85a;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.Button-primary button:disabled {
  background-color: #00c85a;
  border: 2px solid #00c85a;
  color: white;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.Button-primary button:hover {
  background-color: #00d768;
  -webkit-box-shadow: -4px 11px 15px -5px rgba(0, 215, 104, 0.31);
  box-shadow: -4px 11px 15px -5px rgba(0, 215, 104, 0.31);
  border: 2px solid #00d768;
}
.Button-primary button:focus {
  border: 2px solid #006d29;
  outline: none;
}
.Button-primary button:active {
  background-color: #00d768;
  outline: none;
  top: 2px;
  position: relative;
}

.Button-secundary button {
  background-color: transparent;
  width: auto;
  max-width: 200px;
  color: #1d2330;
  font-family: "Open Sans";
  font-weight: 600;
  border: 2px solid #cad0d7;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.Button-secundary button:active {
  background: #e2e4e8;
}
.Button-secundary button:hover {
  border: 2px solid #7f848a;
}
.Button-secundary button:focus {
  border: 2px solid #7f848a;
  outline: none;
}

.switch {
  display: inline-block;
  height: 22px;
  position: relative;
  width: 40px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00c85a;
}

input:checked + .slider:before {
  transform: translateX(19px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*# sourceMappingURL=main.css.map */
