.menubar {
  width: 90%;
  flex: 1;
  display: flex;
  align-items: flex-end;

  nav {
    display: flex;
    justify-content: left;
    width: 50%;
  }

  nav p {
    color: $grey-font;
    text-decoration: none;
    padding: 0 0 10px 0px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 30px;
    &:hover {
      border-bottom: 2px solid $grey-font;
    }
  }

  nav p:first-child {
    margin-left: 0px;
  }

  .isActive {
    border-bottom: 2px solid $primary-color;
    color: $h1-font-color;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.25s;
    cursor: default;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//Mobile styles
@media screen and (max-width: 768px) {
  .menubar {
    display: none;
  }
}
