.title {
  width: 94%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex: 2;
  margin: 0 0 10px auto;

  h1 {
    font-size: 36px;
    font-weight: 600;
  }

  button {
    margin-right: 50px;
    width: 95px;
    color: #1d2330;
    font-family: 'Open Sans';
    font-weight: 600;
    border: 1px solid #cad0d7;
    background-color: transparent;
    border-radius: 4px;
    padding: 10px;
  }
}
