.title-container {
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1;

  h1 {
    font-size: 36px;
    font-weight: 600;
  }
}

.title-status {
  display: flex;
  align-items: center;

  p {
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 7px;
    font-size: 13px;
  }

  .active {
    background-color: #c7f5dd;
    color: #428f67;
  }

  .inactive {
    background-color: #fedfdf;
    color: #e84343;
  }
}
